.reveal .slides .slide-footer {
    font-size: 16px;
    position: fixed;
    bottom: 0;
    left:0;
}
table{
    /* width: 100%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    font-size: 13px;
}
/* th, td{ */
/*     width: 50%; */
/* } */
tr:nth-child(odd) {background-color: #f2f2f2;}
tr:first-child, td:first-child { font-weight: bold }
.reveal h2 {
    font-size: 1.5em;
}
/* .reveal p{ */
/*     text-align: left; */
/* } */

.reveal img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items:center;    /* vertically center */
}

.reveal{
    font-size: 40px;
}

.reveal ul{
    font-size: x-large;
}
.reveal .author{
    font-size: 0.8em;
    text-transform: none;
}
.reveal .date{
    font-size: 0.8em;
    text-transform: none;
}
/* .reveal .title{ */
/*     text-transform: none; */
/* } */

.container {
  display: flex;
}
.container div {
  width: 33%;
  height: 220px;
}

.left {
}
.right {
}
.center {
}
:root {
    --r-background-color: #fafafa;
}

.reveal h1{
    color: #2a76dd;
}
.reveal h2{
    color: #2a76dd;
}
.reveal h3{
    color: #2a76dd;
}
.reveal h4{
    color: #2a76dd;
}
.reveal h5{
    color: #2a76dd;
}
.reveal h6{
    color: #2a76dd;
}
.reveal .author {
    color: #222;
}

.reveal .date {
    color: #222;
}
