/* #video_shortcode_videojs_video1{ */
/*     loop: true; */
/* } */
.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}
/* .reveal .slide-number > a[href*='outline'] { */
/*   display: none; */
/* } */
